body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease-in-out;
}

body, .app-container {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-color);
}

h1, h2, h3 {
  color: var(--primary-color);
}

.card {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}