.edit-recipe-form {
    max-width: 700px; /* Adjust width as necessary */
    margin: auto;
    padding: 20px;
    background: var(--form-background-color);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.ingredient {
    display: flex;
    align-items: center; /* Keeps items aligned in the center vertically */
    justify-content: space-between; /* Spaces children evenly */
    width: 100%; /* Makes the container fill the width of its parent */
    gap: 10px; /* Space between children */
    margin-bottom: 1rem; /* Space between ingredient entries */
}

.ingredient label {
    margin: 0;
    white-space: nowrap; /* Prevents label text from wrapping */
}

.ingredient input,
.ingredient select {
    flex-grow: 1; /* Allows inputs and selects to expand to use available space */
    min-width: 0; /* Allows these elements to shrink below their content size if needed */
}

.ingredient > div {
    display: flex;
    flex-grow: 1; /* Allows each div to grow and use available space equally */
    align-items: center;
    gap: 5px;
}

.ingredient button {
    flex-grow: 0; /* Prevents buttons from growing, keeping them at their natural width */
    white-space: nowrap; /* Keeps text within buttons from wrapping */
}

.direction {
    display: flex;
    flex-direction: column; /* Stack vertically */
    margin-bottom: 1rem; /* Space between each direction block */
}

.direction label {
    /* If you want to reduce the size of label or style it differently */
    margin-bottom: 0.5rem; /* Space between label and textarea */
}

.direction textarea {
    width: 100%; /* Ensures the textarea takes the full width */
    margin-bottom: 0.5rem; /* Space between textarea and buttons */
}

.direction button {
    margin-right: 0.5rem; /* Space between buttons */
    width: auto; /* Allows the button to shrink/grow as per content */
}

.buttons-row {
    display: flex; /* Align buttons in a row */
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.textarea {
    width: 100%; /* Ensures the textarea takes up the full container width */
    padding: 8px; /* Adds some padding inside the textareas */
    box-sizing: border-box; /* Includes padding in the width calculation */
    border: 1px solid #ccc; /* A light border for better visibility */
    border-radius: 4px; /* Rounded corners */
    resize: none; /* Disables resizing, remove if users should change size */
}