.nav-bar {
    background-color: var(--background-color);
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: var(--link-color);
    color: var(--button-text-color);
}