.recipe-detail {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-detail h1 {
    margin-bottom: 20px;
}

.recipe-detail p {
    margin-bottom: 10px;
}

.recipe-detail img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe-detail ul, .recipe-detail ol {
    text-align: left;
    max-width: 600px;
    width: 100%;
}

.recipe-detail ul li {
    margin-bottom: 5px;
}
