/* Base styling for the carousel container */
.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 20px 0;  /* Adds padding around the carousel for better spacing */
    background-color: var(--carousel-background);
    /* box-shadow: 0 4px 8px var(--carousel-shadow); */
}

/* Styling for the track that holds the items */
.carousel-track {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll-left 30s linear infinite;
}

/* Individual item styling */
.carousel-item {
    flex: 0 0 auto;
    width: 100%; /* Adjust based on the number of slides you show at a time */
    padding-top: 100%; /* Same as width for square */    
    /* padding: 0 15px; */
    margin: 0 15px; /* Space between items */
    position: relative;
    overflow: hidden; /* Ensures no overflow of content */
    border-radius: 10px; /* Rounded corners for a softer look */
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0 2px 5px var(--carousel-shadow);
    /* box-sizing: border-box; */
    transition: transform 0.3s ease; /* Smooth transition for hover effects */
}

.carousel-item-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    flex-direction: column;
    /* justify-content: flex-end; */
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px var(--carousel-shadow);
    border-radius: 5px; 
}

/* Styling for images within each item */
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;;
    object-fit: cover; /* Ensures images cover the area properly */
    transition: opacity 0.5s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; /* Rounded corners for the top of the image */
    flex-shrink: 0;
    z-index: 1;
}

/* Styling for titles within each item */
.carousel-item h3 {
    padding: 8px;
    text-align: center;
    background-color: var(--form-background-color);
    border-color: var(--form-border-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; /* Rounded corners for the bottom of the item */
    color: var(--text-color);
    font-size: 16px;
    margin: 0; /* Remove default margin */
    margin-top: auto;
    z-index: 2;
}

.carousel-item:hover {
    transform: scale(1.05); /* Slightly enlarge items on hover */
    cursor: pointer;
}

@keyframes scroll-left {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); } /* Ensure this matches the actual content width for seamless looping */
}

@media (max-width: 768px) {
    .carousel-item {
        width: 150px; /* Smaller width for smaller screens */
    }

    .carousel-item img {
        height: 100px; /* Smaller height for images on smaller screens */
    }
}