.recipes-list {
    list-style-type: none;
    padding: 0;
}

.recipes-list li {
    margin-bottom: 10px;
}

.recipes-list li a {
    text-decoration: none;
    color: #007bff;
}

.recipes-list li a:hover {
    text-decoration: underline;
}